{% extends "_base.html" %}
{% from "_component.html" import TextField %}
{% from "_component.html" import TextAreaField %}
{% from "_component.html" import SubmitButton %}
{% from "user/_component.html" import SidePanel %}
{% block title %}{{ current_user.username }}{% endblock %}
{% block content %}
<div>
    <h1 class="p-2 text-xl font-bold">@{{ current_user.username }}のプロフィール</h1>
    <div class="text-gray-600 sm:flex">
        {{ SidePanel() }}
        <div class="flex-auto">
            <div class="p-4 bg-white rounded shadow ">
                <h2 class="text-2xl text-center">プロフィール</h2>
                <p class="mt-1 mb-2">プロフィールは公開されます。</p>
                <form action="" method="POST" id="profile-form">
                    {{ form.csrf_token }}
                    {{ TextField(form.display_name)}}
                    {{ TextAreaField(form.introduction)}}
                    <div class="mt-2 text-center">
                        {{ SubmitButton("変更", "profile-form") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}