<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta name="viewport" content="target-densitydpi=device-dpi,width=device-width,maximum-scale=1.0,user-scalable=yes">
    <meta http-equiv="Content-Language" content="ja">
    <meta charset="UTF-8">
    <title>6channel ご本人確認</title>
</head>

<body>
    <div>
        <p>以下のリンクにアクセスして登録完了です</p>
        <a href="{{ activation_link }}">{{ activation_link }}</a>
    </div>
</body>