<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>

  <head>
    <meta name="viewport" content="target-densitydpi=device-dpi,width=device-width,maximum-scale=1.0,user-scalable=yes">
    <meta http-equiv="Content-Language" content="ja">
    <meta charset="UTF-8">
    <title>6channel メールアドレスの変更確認</title>
  </head>

  <body>
    <div>
      <p>以下のリンクにアクセスしてメールアドレスの変更が完了します</p>
      <a href="{{ confirmation_link }}">{{ confirmation_link }}</a>
    </div>
  </body>

</html>