{% extends "_base.html" %}
{% from "_component.html" import TextField %}
{% from "_component.html" import CheckboxField %}
{% from "_component.html" import SubmitButton %}
{% block title %}ログイン{% endblock %}
{% block content %}
  <div class="flex justify-center">
    <div class="flex flex-col w-full px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-lg sm:w-3/4">
      <h1 class="my-1 text-3xl font-thin text-center">おかえりなさい</h1>
      <form action="" method="POST" id="login-form">
        {{ form.csrf_token }}
        {{ TextField(form.username) }}
        {{ TextField(form.password) }}
        {{ CheckboxField(form.remember_me) }}
        <div class="mt-4 text-center">
          {{ SubmitButton("ログイン", "login-form") }}
          <div class="mt-2">
            <a class="text-sm font-bold hover:text-blue-500" href="#">
              パスワードを忘れてしまいましたか?
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
