{% extends "_base.html" %}
{% from "_component.html" import TextField %}
{% from "_component.html" import CheckboxField %}
{% from "_component.html" import SubmitButton %}
{% block title %}新規登録{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="flex flex-col w-full px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-lg sm:w-3/4">
        <h1 class="my-1 text-3xl font-thin text-center">ユーザー新規登録</h1>
        <form action="" method="POST" id="signup-form">
            {{ form.csrf_token }}
            {{ TextField(form.email) }}
            {{ TextField(form.username) }}
            {{ TextField(form.display_name) }}
            {{ TextField(form.password) }}
            {{ TextField(form.password_confirmation) }}
            {{ CheckboxField(form.remember_me) }}
            <div class="mt-4 text-center">
                {{ SubmitButton("新規登録", "signup-form") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}