{% from "_component.html" import Header %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" id="favicon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/toast.min.js') }}"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="flex flex-col min-h-full bg-gray-100">
    <!-- Header -->
    {{ Header(current_user.is_authenticated) }}
    <!-- Main -->
    <main class="w-full max-w-screen-lg p-2 mx-auto mb-auto text-gray-600">
        {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer class="px-6 py-2 bg-gray-600">
        <div class="flex items-center max-w-screen-lg mx-auto text-gray-100">
            <a href="#" class="flex-auto">
                <img class="h-6" src="{{ url_for('static', filename='img/sixchan-logo.png') }}"
                    alt="6channel site logo" />
            </a>
            <p>All rights reserved 2022.</p>
        </div>
    </footer>
    <!-- if specifies scroll position -->
    {% if anchor %}
    <input id="scroll-anchor" type="hidden" name="anchor" value="{{ anchor }}">
    {% endif %}
    <!-- if exists flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" hidden>
        {% for level, message in messages %}
        {% set background = get_flash_color(level)%}
        <div>
            <input type="hidden" name="message" value="{{ message }}">
            <input type="hidden" name="background" value="{{ background }}">
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</body>

</html>