{% extends "base.html" %}
{% from "macro.html" import render_text_field, render_textarea_field, render_submit_button %}
{% block title %}{{ board.name }}{% endblock %}
{% block content %}
<div>
    <h2 class="font-bold mt-1 text-xl">{{ board.name }}</h2>
    <p>{{board.description}}</p>
</div>
<div class="bg-white rounded-lg mt-4">
    <div class="bg-blue-500 p-2 text-white text-lg font-bold rounded-t-lg">スレッド一覧</div>
    <div class="p-2">
        {% for thread in board.threads %}
        <div>
            <a class="font-semibold text-blue-500" href="/threads/{{ thread.id | uuidshort }}">
                {{ thread.name }}({{ thread.reses_count }})
            </a>
            <span class="text-sm">...最後の投稿: {{ thread.last_posted_at | datetimeformat }}</span>
        </div>
        {% endfor %}
    </div>
</div>
<div class="border my-2"></div>
<div>
    <form action="" method="POST" id="thread-form">
        {{ form.csrf_token }}
        {{ render_text_field(form.thread_name) }}
        {{ render_text_field(form.anon_name) }}
        {{ render_text_field(form.anon_email) }}
        {{ render_textarea_field(form.body) }}
        <div class="mt-4 flex items-center justify-center w-full">
            {{ render_submit_button("スレッドを立てる", "thread-form") }}
        </div>
    </form>
</div>
{% endblock %}