{% extends "_base.html" %}
{% from "_macro.html" import render_text_field, render_textarea_field, render_submit_button %}
{% block title %}{{ board.name }}{% endblock %}
{% block content %}
<div>
    <h2 class="mt-1 text-xl font-bold">{{ board.name }}</h2>
    <p>{{board.description}}</p>
</div>
<div class="mt-4 bg-white rounded-lg">
    <div class="p-2 text-lg font-bold text-white bg-blue-500 rounded-t-lg">スレッド一覧</div>
    <div class="p-2">
        {% for thread in board.threads %}
        <div>
            <a class="font-semibold text-blue-500" href="{{ url_for('thread', thread_id=thread.id | uuidshort) }}">
                {{ thread.name }}({{ thread.reses_count }})
            </a>
            <span class="text-sm">...最後の投稿: {{ thread.last_posted_at | datetimeformat }}</span>
        </div>
        {% endfor %}
    </div>
</div>
<div class="my-2 border"></div>
<div>
    <form action="" method="POST" id="thread-form">
        {{ form.csrf_token }}
        {{ render_text_field(form.thread_name) }}
        {{ render_text_field(form.anon_name) }}
        {{ render_text_field(form.anon_email) }}
        {{ render_textarea_field(form.body) }}
        <div class="flex items-center justify-center w-full mt-4">
            {{ render_submit_button("スレッドを立てる", "thread-form") }}
        </div>
    </form>
</div>
{% endblock %}