{% extends "_base.html" %}
{% from "_component.html" import AnonymousName %}
{% from "_component.html" import OnymousName %}
{% from "_component.html" import Timeago %}
{% from "_component.html" import WhoShort %}
{% from "_component.html" import TextLines %}
{% from "_component.html" import TextField %}
{% from "_component.html" import TextAreaField %}
{% from "_component.html" import SubmitButton %}
{% block script %}
<script src="{{ url_for('static', filename='js/thread.js') }}" defer></script>
{% endblock %}
{% block title %}{{ thread.name }}{% endblock %}
{% block content %}
<!-- ThreadTittle -->
<div>
    <div class="flex">
        <div class="p-2 bg-blue-500 rounded-lg">
            <span class="font-medium text-white"> {{ reses | length }} </span>
            <span class="font-bold text-gray-100">Responses</span>
        </div>
    </div>
    <h1 class="text-xl font-bold">{{ thread.name }}</h1>
</div>
<!-- Reses -->
<div id="res-container">
    {% for res in reses %}
    <div id="{{ res.number }}" class="p-2 mt-2 bg-white rounded-lg">
        <p class="font-medium">
            {{ res.number }}
            {% if res.is_anonymous %}
            {{ AnonymousName(res.name, res.email) }}
            {% else %}
            {{ OnymousName(res.username, res.name)}}
            {% endif %}
            {{ Timeago(res.posted_at) }}
            {{ WhoShort(res.who) }}
        </p>
        {{ TextLines(res.body, "%d-%s" | format(res.number, "body")) }}
    </div>
    {% endfor %}
</div>
<!-- Form -->
<div class="mt-4">
    {% if can_post %}
    <p class="text-lg font-bold">レスを投稿する</p>
    <form action="" , method="POST" id="res-form">
        {{ form.csrf_token }}
        {% if not current_user.is_authenticated %}
        {{ TextField(form.anon_name)}}
        {{ TextField(form.anon_email)}}
        {% endif %}
        {{ TextAreaField(form.body)}}
        <div class="mt-2 text-center">
            {{ SubmitButton("書き込む", "res-form") }}
        </div>
    </form>
    {% else %}
    <p class="text-lg font-bold">このスレッドは1000件に到達したため、書き込みできません</p>
    {% endif %}
</div>
{% endblock %}