{% extends "_base.html" %}
{% from "_macro.html" import render_text_field, render_textarea_field, render_submit_button %}
{% block title %}{{ thread.name }}{% endblock %}
{% block content %}
<!-- ThreadTittle -->
<div>
    <div class="flex">
        <div class="p-2 bg-blue-500 rounded-lg">
            <span class="font-medium text-white"> {{ thread.reses_count }} </span>
            <span class="font-bold text-gray-100">Responses</span>
        </div>
    </div>
    <h1 class="text-xl font-bold">{{ thread.name }}</h1>
</div>
<!-- Reses -->
<div>
    {% for res in thread.reses %}
    <div class="p-2 mt-2 bg-white rounded-lg">
        <p class="font-medium">
            {{ res.number }} 名前:{{ res.anon_name | authorformat(res.anon_email) }}
            {{ res.created_at | datetimeformat }} ID:{{ res.who | whoformat }}
        </p>
        <p>{{res.body}}</p>
    </div>
    {% endfor %}
</div>
<!-- Form -->
<div>
    <p class="text-lg font-bold">レスを投稿する</p>
    <form action="" , method="POST" id="res-form">
        {{ form.csrf_token }}
        {{ render_text_field(form.anon_name)}}
        {{ render_text_field(form.anon_email)}}
        {{ render_textarea_field(form.body)}}
        <div class="flex items-center justify-center w-full mt-2">
            {{ render_submit_button("書き込む", "res-form") }}
        </div>
    </form>
</div>
{% endblock %}