{% extends "_base.html" %}
{% from "_component.html" import Timeago %}
{% from "_component.html" import WhoShort %}
{% from "_component.html" import TextLines %}
{% from "_component.html" import RadioField %}
{% from "_component.html" import SubmitButton %}
{% from "_component.html" import Pagination %}
{% block title %}
  あぼーんする？
{% endblock %}
{% block content %}
  <div>
    <p class="font-bold text-xl">対応フォーム</p>
    <form action="" method="POST" id="panish-form">
      {{ form.csrf_token }}
      {{ RadioField(form.deal) }}
      <div class="mt-2 text-center">
        {{ SubmitButton("対応を確定する", "panish-form") }}
      </div>
    </form>
    <p class="font-bold text-xl">当該レス</p>
    <a href="{{ url_for('main.thread', thread_id=res.thread_id | uuidshort, _anchor=res.number) }}" class="block p-2 my-1 bg-white rounded shadow">
      <p class="font-medium">
        {{res.number}}
        名前:
        <span class="text-blue-500">TODO</span>
        {{ Timeago(res.created_at) }}
        {{ WhoShort(res.who) }}
      </p>
      {{ TextLines(res.body) }}
    </a>
    <p class="font-bold text-xl my-1">このレスに対する報告一覧</p>
    <ul>
      {% for report in pagination.items %}
        <li class="p-2 bg-white rounded shadow">
          <div class="flex items-center">
            <span class="flex items-center text-green-500">
              <span class="material-icons ">adjust</span>
              <span class="font-semibold">{{ report.status.value }}</span>
            </span>
            <span class="ml-1 text-gray-400">{{ report.created_at | datetimeformat }}に報告</span>
          </p>
        </div>
        <p>
          <span class="font-semibold">報告ID:
          </span>
          <span>{{ report.id }}</span>
        </p>
        <p>
          <span class="font-semibold">理由:
          </span>
          <span>{{ report.reason_text }}</span>
        </p>
        <p>
          <span class="font-semibold">詳細:
          </span>
          <br>
          <span>{{ report.detail }}</span>
        </p>
        <p>
          <span class="font-semibold">当該レス内容:
          </span>
          <br>
          <span>{{ TextLines(report.res_body) }}</span>
        </p>
        <div class="flex mt-1">
          <a class="text-gray-400 text-xs hover:underline" target="_blank" rel="noopener noreferrer" href="{{ url_for('main.thread', thread_id=report.thread_id)}}#{{report.res_number}}">元のレスを確認</a>
          <a class="ml-1 text-gray-400 text-xs hover:underline" target="_blank" rel="noopener noreferrer" href="{{ url_for('admin.panish', res_id=report.res_id)}}">あぼーんする？</a>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="flex justify-center p-1">
    {{ Pagination(pagination.page, pagination.pages, 'user.favorite') }}
  </div>

</div>
{% endblock %}