{% extends "_base.html" %}
{% from "_component.html" import Pagination %}
{% from "_component.html" import TextLines %}
{% from "admin/_component.html" import SidePanel %}
{% block title %}
  {{ current_user.username }}
{% endblock %}
{% block content %}
  <div>
    <h1 class="p-2 text-xl font-bold">
      @{{ current_user.username }}(管理者) 報告一覧
    </h1>
    <div class="text-gray-600 sm:flex">
      {{ SidePanel() }}
      <div class="flex-auto">
        {% if not pagination.items%}
          <p class="my-4 text-xl text-center">報告はありません</p>
        {% endif %}
        <ul>
          {% for report in pagination.items %}
            <li class="p-2 bg-white rounded shadow">
              <div class="flex items-center">
                <span class="flex items-center text-green-500">
                  <span class="material-icons ">adjust</span>
                  <span class="font-semibold">{{ report.status.value }}</span>
                </span>
                <span class="ml-1 text-gray-400">{{ report.created_at | datetimeformat }}に報告</span>
              </p>
            </div>
            <p>
              <span class="font-semibold">報告ID:
              </span>
              <span>{{ report.id }}</span>
            </p>
            <p>
              <span class="font-semibold">理由:
              </span>
              <span>{{ report.reason_text }}</span>
            </p>
            <p>
              <span class="font-semibold">詳細:
              </span>
              <br>
              <span>{{ report.detail }}</span>
            </p>
            <p>
              <span class="font-semibold">当該レス内容:
              </span>
              <br>
              <span>{{ TextLines(report.res_body) }}</span>
            </p>
            <div class="flex mt-1">
              <a class="text-gray-400 text-xs hover:underline" target="_blank" rel="noopener noreferrer" href="{{ url_for('main.thread', thread_id=report.thread_id)}}#{{report.res_number}}">元のレスを確認</a>
              <a class="ml-1 text-gray-400 text-xs hover:underline" target="_blank" rel="noopener noreferrer" href="{{ url_for('admin.panish', res_id=report.res_id)}}">あぼーんする？</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="flex justify-center p-1">
        {{ Pagination(pagination.page, pagination.pages, 'user.favorite') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
